<h3>Restaurent Detail:</h3>

<div class="row">
    <div class="col-sm-10" style="text-align: right; margin-right: 10%;">
        <a type="button" [routerLink]="['/restaurent-list']" class="btn btn-success btn-sm">Click Here to go back</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">Restaurent Name:</div>
    <div class="col-sm-3"> {{name}} </div>
</div>
<div class="row">
    <div class="col-sm-2">Restaurent Address:</div>
    <div class="col-sm-3"> {{rest.address}} </div>
</div>
<div class="row">
    <div class="col-sm-2">Restaurent Open Time:</div>
    <div class="col-sm-3"> {{rest.opentime}} </div>
</div>
<div class="row">
    <div class="col-sm-2">Phone Number:</div>
    <div class="col-sm-3"> {{rest.phonenumber}} </div>
</div>
